body{
    margin: 0%;
    padding:0%;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font: sans-serif;
    
}
.container{
    background-image: url(firstpage.jpg);
    padding: 0%;
    margin: 0%;
    border-bottom: 5px solid #222;
    height: 720px;
}

.container2{
    background-color: black;
    padding: 0%;
    margin: 0%;
    border-top: 5px solid #222;
    border-bottom: 5px solid #222;
    height: 500px;
}

.p1{
    font-family: helvetica, sans-serif;
}

#logo{
    font-size: 60px;
    color: red;
    padding-left: 35px;
    padding-top: 13px;
    font-family: helvetica, sans-serif;
}

#button1{
    display: block;
    width: 85px;
    height: 33px;
    float: right;
    margin-top: 8px;
    margin-right: 44px;
    size: 80px;
    border:none;
    background-color: red;
    color:white;
    border-radius: 4px;
    font-size: 15px;
    font-family: helvetica, sans-serif;
}

.p1 h1{
    color:white;
    margin-top: 7%;
    margin-left: 32%;
    margin-right: 50%;
    display: block;
    width: 650px;
    height: fit-content;
    font-size: 62px;
    margin-bottom: 0%;
    color: white;  
}

.p1 #line2{
    margin-top: 0%;
    font-size: 63px;
    margin-left: 36%;
    margin-bottom: 0%;
    color: white;  
}

.p1 h2{
    margin-top: 0%;
    margin-left: 36%;
    font-size: 32px;
    color: white; 
}

.in input{
    margin-left: 27%;
    width: 470px;
    height: 60px;
    padding-right: 0%;
    margin-right: 0%;
    font-family: helvetica, sans-serif;
}

#button2{
    background-color: red;
    border-radius: 2px;
    border: none;
    height: 66px;
    width: 20%;
    padding-left: 0%;
    margin-left: 0%;
    color: white;
    font-size: 28px;
    position: relative;
    top: 5px;
    right: 7px;
}

.p1 h3{
    width: 620px;
    margin-left: 33%;
    margin-bottom: 160px;
    color: white;
}

hr{
    width: 100%;
    height: 5px;
    background-color: gray;
    font-family: helvetica, sans-serif;
    padding: 0%;
    margin: 0px;
}

.container2 h1{
    font-size: 57px;
    position: relative;
    top: 90px;
    left: 200px;
    color: white;
    font: helvetica, sans-serif;
}


.container2 h2{
    display: block;
    width: 470px;
    position: relative;
    bottom: 360px;
    left: 200px;
    color: white;
    font: helvetica, sans-serif;
}
.container2 img{
    position: relative;
    left: 780px;
    bottom: 120px;
    width: 550px;
    height: auto;
    margin-bottom: 0em;
    z-index: 2;  
}


.container2 video{
    float: right;
    position: absolute;
    width: 400px;
    height: auto;
    top: 840px;
    right: 264px;
    z-index: 1;
}

.container3{
    border-top: 5px solid #222;
    border-bottom: 5px solid #222;
    background-color: black;
    height: 480px;

}

.container3 h1{
    color: white;
    font-size: 52px;
    position: relative;
    top: 100px;
    left: 740px;
    width: 500px;
}

.container3 h3{
    color: white;
    position: relative;
    top: 100px;
    left: 740px;
    font-size: 27px;
    width: 510px;


}

.container3 #bigimg{
    position: relative;
    bottom: 240px;
    left: 170px;
    height: 380px;
    width: auto;
    z-index: 1;
}

.container3 #strangethings{
    background-color: black;
    position: relative;
    bottom: 370px;
    left: 220px;
    width: 350px;
    height: 100px;
    border: 2px solid #222;
    border-radius: 24px;
    z-index: 2;
}
.container3 h2{
    color: white;
    font-size: 20px;
    position: relative;
    left: 80px;
    bottom: 75px;
}
.container3 h4{
    color: blue;
    position: relative;
    bottom: 90px;
    left: 85px;
}

.container3 #smallimg{
    position: relative;
    left: 15px;
    top: 10px;
    height: 80px;
    width: auto;
    z-index: 2;
}


.container4{
    background-color: black;
    border-top: 5px solid #222;
    border-bottom: 5px solid #222;
    height: 550px;
}

.container4 h1{
    color: white;
    position: relative;
    top: 100px;
    left: 200px;
    font-size: 60px;
}

.container4 h3{
    color: white;
    position: relative;
    bottom: 360px;
    left: 210px;
    width: 530px;
    font-size: 28px;
}

.container4 img{
    position: relative;
    left: 850px;
    bottom: 100px;
    width: 550px;
    z-index: 2;
}

.container4 video{
    position: relative;
    left: 400px;
    bottom: 280px;
    width: 350px;
    height: auto;
    z-index: 1;
}


.container5{
    color: white;
    background-color: black;
    border-top: 5px solid #222;
    border-bottom: 5px solid #222;
    min-height: 1000px;
}

.container5 h1{
    text-align: center;
    font-size: 52px;
    position: relative;
    top: 30px;
}

.accordion{
    background-color: rgb(48, 48, 48);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 45%;
    height: 80px;
    border: none;
    position: relative;
    top: 50px;
    left: 27%;
    text-align: left;
    font-size: 28px;
}

.panel{
    padding: 0 18px;
    background-color:rgb(48, 48, 48);
    width: 45%;
    height: fit-content;
    display: none;
    overflow: hidden;
    transition: 0.2s ease-out;
}

.container5 ul{
    list-style: none;
}
.container5 li{
    padding-bottom: 10px;
}

.accordion::after{
    content: '\02795';
    font-size: 30px;
    color: white;
    float: right;
    margin-left: 5px;
}

.questionspage{
    position: relative;
    left: 26%;
    top: 100px;
}

.questionspage input{
    width: 28%;
    height: 70px;
}

.questionspage button{
    width: 20%;
    height: 75px;
    background-color: red;
    color: white;
    border: red;
    border-radius: 2px;
    font-size: 30px;
    position: relative;
    right: 3px;
    bottom: 10px;
}

.questionspage h2{
    font-size: 20px;
    position: relative;
    left: 70px;
    bottom: 20px;
}


.container6{
    height: 100%;
    background-color: black;
    color: rgb(116, 107, 107);
    border-top: 5px solid #222;
    border-bottom: 5px solid #222;
}

.container6 h3{
    position: relative;
    top: 40px;
    left: 22%;
}

.container6 ul{
    list-style: none;
}

#list1 li{
    position: relative;
    left: 18%;
    top: 60px;
    margin: 2em; 
    font-size: 15px; 
}
#list2 li{
    position: relative;
    left: 33%;
    bottom: 175px;
    margin: 2em; 
    font-size: 15px;
}
#list3 li{
    position: relative;
    left: 48%;
    bottom: 370px;
    margin: 2em; 
    font-size: 15px;
}
#list4 li{
    position: relative;
    left: 63%;
    bottom: 560px;
    margin: 2em; 
    font-size: 15px;
}

.container6 form{
    position: relative;
    bottom: 470px;
    left: 20%;
}

#language{
    background-color: black;
    color: rgb(116, 107, 107);
    height: 50px;
    width: 150px;
    font-size: 18px;
    border-color: #222;
}


